<!DOCTYPE html>

<html>
<head>
    <title><%= title %></title>


    <link href="css/home.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link href="/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
    <link href="/bootstrap3-editable/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css">

    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <!-- Parse.js -->
    <script src="https://www.parsecdn.com/js/parse-1.2.19.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/bootstrap3-editable/js/bootstrap-editable.js"></script>
    <script type="text/javascript">
        Parse.initialize("<%= parseAppId %>", "<%= parseJsKey %>");
    </script>
    <script src="/bootstrap3-editable/js/moment.js"></script>
    <script src="/bootstrap3-editable/js/bootstrap-datetimepicker.js"></script>
    <script src="/bootstrap3-editable/js/qrcode.js"></script>

</head>

<body style="background-color:#f0f0f5;">

    <%- body %>

</body>

</html>